body{
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(243, 245, 253, 0.2), #FFFAFE 1px, rgb(237, 240, 241) 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(243, 245, 253, 0.2), #FFFAFE 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(243, 245, 253, 0.2), #FFFAFE 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(243, 245, 253, 0.2), #FFFAFE 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  
}

/*==================================================
 * header
 * ===============================================*/
.header{
    vertical-align:middle;
    font-family: cursive;
    color: grey;
    background: url('http://res.cloudinary.com/by-mistake-com/image/upload/c_scale,w_140/v1452343689/logo.by-mistake.v3.1_210x210_rfop8f.png') no-repeat;
    display: block;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
}

.header>h1{
    text-align: center;
    font-size: 84px;
    margin-top: 21px;
}

/*==================================================
 * media box latest post
 * ===============================================*/
.media-box {
	position:relative;
	/*padding-bottom:56.25%;*/
	/*padding-top:25px;*/
	padding-bottom:49%;
	width: 87%;
	height:0;
	/*overflow:hidden;*/
}
.media-box iframe, .media-box object, .media-box embed, .media-box img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}


.media{
  -webkit-box-shadow: 10px 10px 61px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 61px 6px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 61px 6px rgba(0,0,0,0.75);
}

.media-box:before {
  content: '';
  z-index: 2;
  position: absolute;
  /*width: 560px;*/
  /*height: 315px;*/
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 0 7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 0 7px rgba(0,0,0,0.75);
  box-shadow: 0 0 4px 12px rgb(187, 187, 187);
/*   box-shadow: 0px 0px 61px 6px rgba(0,0,0,0.68); */
  pointer-events: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.media-box:after {
    top: -27px;
    right: 88px;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    content: "latest post";
    width: 137px;
    height: 28px;
    position: absolute;
    border-radius: 1px 2px 3px 4px;
    /* background-color: rgba(000,000,000,0.4); */
    background-color: rgba(244, 172, 113, 0.59);
    z-index: 3;
    padding: 5px;
    text-align: center;
}

.media-box-holder {
    top: -18px;
    right: 446px;
    -webkit-transform: rotate(15deg);
    transform: rotate(-34deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    width: 121px;
    height: 28px;
    position: absolute;
    border-radius: 1px 2px 3px 4px;
    /* background-color: rgba(000,000,000,0.4); */
    background-color: rgba(160, 182, 78, 0.63);
    z-index: 3;
    padding: 5px;
    text-align: center;
}

.media-box .caption{
  position: absolute;
  z-index: 1;
  background: rgba(82, 82, 82, 0.50);
  color: #A0B64E;
  width: 100%;
  text-align: center;
}

.media-box .caption-bottom{
  bottom: 0;
}

.video{
  z-index: 1;
}

.video + .ambilight {
  /*-webkit-filter: blur(21px);*/
  /*-moz-filter: blur(21px);*/
  /*-o-filter: blur(21px);*/
  /*-ms-filter: blur(21px);*/
  /*filter: blur(21px);*/
  
  -webkit-filter: blur(11px);
  -moz-filter: blur(11px);
  -o-filter: blur(11px);
  -ms-filter: blur(11px);
  filter: blur(11px);
  
  /*box-shadow: 10px 10px 61px 6px rgba(0,0,0,0.75);*/
  /*width: 114%;*/
  /*height: 121%;*/
  /*margin-top: -6%;*/
  /*margin-left: -7%;*/
  width: 106%;
  height: 111%;
  margin-top: -3%;
  margin-left: -3%;
  position: absolute;
  z-index: -1;
}

/*==================================================
 * top posts sticky notes
 * ===============================================*/

.top-notes{
  margin-top: 52px;
  text-align: center;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.notes {
  width: 128px;
  height: 160px;
  background-color: #F7E999;
  /*box-shadow: 2px 2px 2px;*/
  box-shadow: 0px 0px 1px;
/*   position: absolute; */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /*margin: auto;*/
  float: left;
  padding: 15px;
}

.notes:before {
		content: ""; 
		width: 49px;
		height: 28px;
    /*background-color: rgba(000,000,000,0.4);*/
    background-color: rgba(216, 216, 216, 0.4);
		position: absolute;
    border-radius: 6px 4px 0px 1px;
		
  }
.notes:after {
		content: ""; 
		width: 19px;
		height: 28px;
    position: absolute;
    border-radius: 1px 2px 3px 4px;
    /*background-color: rgba(000,000,000,0.4);*/
    background-color: rgba(216, 216, 216, 0.4);
  }

/*note1*/
.note1 {
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  background-color: #99c0f7;
}

.note1:before {
    top: -5px;
    left: -52px;
    -webkit-transform: rotate(-42deg);
    transform: rotate(-42deg);
    -moz-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    width: 113px;
    content: "top posts";
    padding: 3px;
    text-align: center;
    background-color: rgba(232, 227, 227, 0.8);
}

.note1:after{
  display: none;
  top: 147px;
  right: -10px;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}

/*note2*/
.note2 {
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  margin-left: 21px;
}

.note2:before {
  top: -13px;
  left: 94px;
  -webkit-transform: rotate(18deg);
  transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -o-transform: rotate(18deg);
}

.note2:after{
  display: none;
  top: 147px;
  right: -10px;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}

/*note3*/
.note3 {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    margin-top: -6px;
    margin-left: 17px;
    background-color: #ec99f7;
}

.note3:before {
    top: -14px;
    left: -19px;
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    width: 59px;
}

.note3:after{
  top: 147px;
  right: 91px;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}

/*note4*/
.note4 {
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  background-color: rgb(168, 216, 113);
}

.note4:before {
    top: -12px;
    left: -40px;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    width: 62px;
}

.note4:after{
  top: 147px;
  right: -10px;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}

#posts, #small-stikies, #pagination{
  margin-top: 50px;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}
a:visited, a:link, a:active{
    color: rgba(160, 182, 78, 1);
}
a:hover{
    color: rgba(244, 172, 113, 1);
    text-shadow: 0 0 1px #FFF;
}


.small-sticky {
  /*width: 239px;*/
  width: 22%;
  /*max-width: 21%;*/
  height: 45px;
  background: #FFF;
  padding: 12px;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
  background-image: -webkit-repeating-radial-gradient(center center, rgba(243, 245, 253, 0.2), #FFFAFE 1px, rgb(237, 240, 241) 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(243, 245, 253, 0.2), #FFFAFE 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(243, 245, 253, 0.2), #FFFAFE 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(243, 245, 253, 0.2), #FFFAFE 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  -webkit-border-radius: 0 0 0 210px/1px 0 0 10px;
  -moz-border-radius: 0 0 0 210px/0 0 0 10px;
  -ms-border-radius: 0 0 0 210px/1px 0 0 10px;
  -o-border-radius: 0 0 0 210px/1px 0 0 10px;
   border-radius: 0 0 0 210px/1px 0 0 10px; 
}

/*==================================================
 * small-sticky-shadow
 * ===============================================*/
.small-sticky-shadow{
  position: relative;
}
.small-sticky-shadow:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    right: 10px;
    left: auto;
    width: 80%;
    top: 38%;
    height: 40%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(5deg);
}

/*==================================================
 * pagination
 * ===============================================*/
.sticky-notes-pager{
    width:100%;
    text-align:center;
}

.sticky-note-arrow-left{
  margin: 0 auto;
  background: #F4AC71;
  width: 100px;
  height: 20px;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4);
  /*float: left;*/
  display: inline-block;
}

.sticky-note-arrow-left::after {
    background: #F4AC71;
    width: 14.14213562373095px;
    height: 14.14213562373095px;
    box-sizing: border-box;
    box-shadow: 1px 0px 0px -1px rgba(0, 0, 0, 0.4);
    
    position: absolute;
    content: "";
    margin-top: 10px;
    transform-origin: 0 0;
    transform: rotate(135deg);
    margin-left: -67px;
}

.sticky-note-arrow-right{
  margin: 0 auto;
  background: #A0B64E;
  width: 100px;
  height: 20px;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4);
  /*float: left;*/
  display: inline-block;
}

.sticky-note-arrow-left a{
  color: #A0B64E;
}

.sticky-note-arrow-right::after {
    background: #A0B64E;
    width: 14.14213562373095px;
    height: 14.14213562373095px;
    box-sizing: border-box;
    box-shadow: 1px 0px 0px -1px rgba(0, 0, 0, 0.4);
    
    position: absolute;
    content: "";
    margin-top: 10px;
    transform-origin: 0 0;
    transform: rotate(315deg);
    margin-left: 26px;
}

.sticky-note-arrow-right a{
  color: #F4AC71;
}

/*==================================================
 * footer
 * ===============================================*/

footer{
  margin-top: 21px;
  text-align: center;
  color: rgba(82, 82, 82, 0.35);
}

hr {
    border-width: 1px 0px;
    border-color: rgba(102, 102, 102, 0.12) transparent #ccc transparent;
}

/*==================================================
 * custom attributes based on media query
 * ===============================================*/
@media (min-width: 992px) {
  .sticky-note {
    max-width:249px;
  }
}

@media (max-width: 992px) {
  .header{
    background: url('http://res.cloudinary.com/by-mistake-com/image/upload/c_scale,w_140/v1452343689/logo.by-mistake.v3.1_210x210_rfop8f.png') no-repeat center;
  }
  .header>h1{
    display: none;
  }
  .top-notes {
    margin-left: 72px;
  }
}