body{
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(243, 245, 253, 0.2), #FFFAFE 1px, rgb(237, 240, 241) 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(243, 245, 253, 0.2), #FFFAFE 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(243, 245, 253, 0.2), #FFFAFE 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(243, 245, 253, 0.2), #FFFAFE 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  
}

/*==================================================
 * header
 * ===============================================*/
.header{
    vertical-align:middle;
    font-family: cursive;
    color: rgba(33,150,243,0.84);
    /*background: url('http://res.cloudinary.com/by-mistake-com/image/upload/c_scale,w_140/v1452343689/logo.by-mistake.v3.1_210x210_rfop8f.png') no-repeat;*/
    display: block;
    min-height: 140px;
    margin-left: auto;
    margin-right: auto;
}

.header>h1{
    text-align: center;
    font-size: 63px;
    margin-top: 21px;
}

.header-xs{
    vertical-align:middle;
    text-align: center;
    color: rgba(33,150,243,0.84);
    display: none;
}

/*==================================================
 * post content
 * ===============================================*/
.post-content{
    font-family: 'Short Stack', cursive;
    color:#8293a4;
    font-size: 18px;
}

/*==================================================
 * post footer
 * ===============================================*/

.post-footer{
    margin-top: 50px;
} 
.post-footer .author-info{
    font-style: italic;
    font-family: 'Short Stack', cursive;
    float: right;
    color: grey;
}

.post-footer .author-info .post-author{
    font-weight: bold;
}

.post-footer .author-info .post-date{
    float: right;
}

.social-media {
    width: 150px;
    height: 50px;
    background: rgb(236, 221, 90);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: xx-large;
    padding: 5px;
    border-radius: 0px 0px 47px 0px;
    -moz-border-radius: 0px 0px 47px 0px;
    -webkit-border-radius: 0px 0px 14px 0px;
    border: 0px solid #000000;
    text-align: center;
}

.social-media:before {
    top: -12px;
    left: -27px;
    -webkit-transform: rotate(-42deg);
    transform: rotate(-15deg);
    -moz-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    width: 67px;
    content: "share";
    padding: 3px;
    text-align: center;
    background-color: rgba(232, 227, 227, 0.51);
    position: absolute;
    border-radius: 6px 4px 0px 1px;
    font-size: 14px;
}

.social-media-shadow{
  position: relative;
}
.social-media-shadow:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    right: 4px;
    left: auto;
    width: 44%;
    top: 66%;
    height: 10px;
    max-width: 300px;
    background: transparent;
    box-shadow: 0px 6px 4px 0px #777;
    transform: rotate(5deg);
}

.fa-facebook-square{
    color:#4867aa;
}

.fa-twitter-square{
    color:#1da1f2;    
}

.fa-google-plus-square{
    color:#d73d32;
}

.fa-instagram{
    color:#c13584;
}

/*==================================================
 * post-comments
 * ===============================================*/
 .post-comments{
     margin-top: 50px;
 }
 

 
/*==================================================
 * post-tags
 * ===============================================*/
.sticky-tags{
     display: table;
}
.sticky-tag{
    top: -12px;
    left: -27px;
    -webkit-transform: rotate(-42deg);
    transform: rotate(-15deg);
    -moz-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    width: 67px;
    padding: 3px;
    text-align: center;
    background-color: rgba(152, 222, 71, 0.76);
    /*position: absolute;*/
    border-radius: 6px 4px 0px 1px;
    font-size: 14px;
    display: table-cell;
}

/*==================================================
 * footer
 * ===============================================*/
.post-tags{
    margin-top: 50px;
}
 
 /*==================================================
 * footer
 * ===============================================*/
footer{
  margin-top: 21px;
  text-align: center;
  color: rgba(82, 82, 82, 0.35);
}

hr {
    border-width: 1px 0px;
    border-color: rgba(102, 102, 102, 0.12) transparent #ccc transparent;
}

@media (max-width: 992px) {
  .header{
    background: url('http://res.cloudinary.com/by-mistake-com/image/upload/c_scale,w_140/v1452343689/logo.by-mistake.v3.1_210x210_rfop8f.png') no-repeat center;
  }
  .header>h1{
    display: none;
  }
  
  .logo{
    display: none;
  }
  
  .header-xs{
      display: block;
  }
  
  /*disable background-image and cursive for mobile devices*/
  body{
      background-image:none;
      background-color:#edf0f1;
  }
  .post-content{
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  }
  
}
