body{
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(243, 245, 253, 0.2), #FFFAFE 1px, rgb(237, 240, 241) 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(243, 245, 253, 0.2), #FFFAFE 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(243, 245, 253, 0.2), #FFFAFE 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(243, 245, 253, 0.2), #FFFAFE 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  
}

@media (min-width: 992px) {
  .sticky-note {
    max-width:250px;
  }
  .sticky-note-media {
    max-width:344px;
  }
}

.brand-logo{
  background-image: url("http://res.cloudinary.com/by-mistake-com/image/upload/v1452343689/logo.by-mistake.v3.1_210x210_rfop8f.png");
  display: block;
  width: 210px;
  height: 210px;
  margin-left: auto;
  margin-right: auto;
}

.wall-title{
    text-align: center;
    font-family: cursive;
    color: grey;
}

.sticky-note {
  display: inline-block;
  margin: 20px;
  position: relative;
}

.sticky-note-inner {
  padding: 20px 20px;
  font-family: 'Short Stack', cursive;
  
  -webkit-border-radius: 0 0 0 210px/0 0 0 10px;
  -moz-border-radius: 0 0 0 210px/0 0 0 10px;
  -ms-border-radius: 0 0 0 210px/0 0 0 10px;
  -o-border-radius: 0 0 0 210px/0 0 0 10px;
  border-radius: 0 0 0 210px/0 0 0 10px;
    
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}

.sticky-note-inner:after {
  
  /*workaround for extra large width*/
  background-color: rgba(39,39,39,0.57); 
  
  bottom: 16px;
  content: "";
  height: 55%;
  left: 10px;
  position: absolute;
  width: 14%;
  z-index: -2;

  -webkit-box-shadow: -5px 10px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: -5px 10px 10px rgba(0,0,0,0.5);
  box-shadow: -5px 10px 10px rgba(0,0,0,0.5);
    
  -webkit-transform: skew(-8deg) rotate(-6deg);
  -moz-transform: skew(-8deg) rotate(-6deg);
  -ms-transform: skew(-8deg) rotate(-6deg);
  -o-transform: skew(-8deg) rotate(-6deg);
  transform: skew(-8deg) rotate(-6deg);
}

.sticky-note-inner>span.author{
    text-align: right;
    display: block;
    font-style: italic;
}

.sticky-note>span.pin {
  background-color: #DADADA;
  display: block;
  height: 14px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: 1px;
  z-index: 1;
}
.sticky-note>span.pin:after {
  background-color: rgba(204, 204, 204, 0.89);
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 13px hsla(0,0%,0%,.1), inset 10px 9px 10px hsla(0,0%,100%,.2), inset -5px 0px 8px hsla(0,0%,0%,.2), 13px 10px 5px hsla(0,0%,0%,0.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}

.sticky-note>span.pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';

  height: 10px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 5px;

  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);
  
  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}

.sticky-note>span.tape{
	position:absolute;
	top:-15px; right:80px;
	width: 77px;
	height: 35px;
	background-color:#FEFFE4;
	opacity:0.7;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(204, 204, 204, 0.89);
	-moz-box-shadow: 0px 0px 1px 0px rgba(204, 204, 204, 0.89);
	box-shadow:0px 0px 1px 0px rgba(204, 204, 204, 0.89);
	-webkit-transform: rotate(-2.1deg) skew(0,0) translate(0%,-7px);
	-moz-transform: rotate(-2.1deg) skew(0,0) translate(0%,-7px);
	-o-transform: rotate(-2.1deg) skew(0,0) translate(0%,-7px);
	transform: rotate(-2.1deg) skew(0,0) translate(0%,-7px);
}

.author:before{
  content: "-";
}

/*----------------color definition*/
.cyan .sticky-note-inner {
  background: rgba(154,211,224,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(154,211,224,1) 0%, rgba(111,181,195,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(154,211,224,1)), color-stop(100%, rgba(111,181,195,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(154,211,224,1) 0%, rgba(111,181,195,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(154,211,224,1) 0%, rgba(111,181,195,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(154,211,224,1) 0%, rgba(111,181,195,1) 100%);
  background: radial-gradient(ellipse at center, rgba(154,211,224,1) 0%, rgba(111,181,195,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ad3e0', endColorstr='#6fb5c3', GradientType=1 );
}

.pink .sticky-note-inner {
  background: rgba(238,144,187,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(238,144,187,1) 0%, rgba(213,103,154,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(238,144,187,1)), color-stop(100%, rgba(213,103,154,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(238,144,187,1) 0%, rgba(213,103,154,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(238,144,187,1) 0%, rgba(213,103,154,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(238,144,187,1) 0%, rgba(213,103,154,1) 100%);
  background: radial-gradient(ellipse at center, rgba(238,144,187,1) 0%, rgba(213,103,154,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee90bb', endColorstr='#d5679a', GradientType=1 );
}

.purple .sticky-note-inner {
  background: rgba(203,128,183,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(203,128,183,1) 0%, rgba(183,78,155,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(203,128,183,1)), color-stop(100%, rgba(183,78,155,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(203,128,183,1) 0%, rgba(183,78,155,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(203,128,183,1) 0%, rgba(183,78,155,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(203,128,183,1) 0%, rgba(183,78,155,1) 100%);
  background: radial-gradient(ellipse at center, rgba(203,128,183,1) 0%, rgba(183,78,155,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb80b7', endColorstr='#b74e9b', GradientType=1 );
}

.blue .sticky-note-inner {
  background: rgba(107,183,194,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(107,183,194,1) 0%, rgba(42,146,162,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(107,183,194,1)), color-stop(100%, rgba(42,146,162,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(107,183,194,1) 0%, rgba(42,146,162,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(107,183,194,1) 0%, rgba(42,146,162,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(107,183,194,1) 0%, rgba(42,146,162,1) 100%);
  background: radial-gradient(ellipse at center, rgba(107,183,194,1) 0%, rgba(42,146,162,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bb7c2', endColorstr='#2a92a2', GradientType=1 );
}

.green .sticky-note-inner {
  background: rgba(146,206,131,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(146,206,131,1) 0%, rgba(117,185,100,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(146,206,131,1)), color-stop(100%, rgba(117,185,100,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(146,206,131,1) 0%, rgba(117,185,100,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(146,206,131,1) 0%, rgba(117,185,100,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(146,206,131,1) 0%, rgba(117,185,100,1) 100%);
  background: radial-gradient(ellipse at center, rgba(146,206,131,1) 0%, rgba(117,185,100,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92ce83', endColorstr='#75b964', GradientType=1 );
}

.yellow .sticky-note-inner {
  background: rgba(247,222,100,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(247,222,100,1) 0%, rgba(224,195,66,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(247,222,100,1)), color-stop(100%, rgba(224,195,66,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(247,222,100,1) 0%, rgba(224,195,66,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(247,222,100,1) 0%, rgba(224,195,66,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(247,222,100,1) 0%, rgba(224,195,66,1) 100%);
  background: radial-gradient(ellipse at center, rgba(247,222,100,1) 0%, rgba(224,195,66,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7de64', endColorstr='#e0c342', GradientType=1 );
}

.orange .sticky-note-inner {
  background: rgba(244,161,87,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(244,161,87,1) 0%, rgba(232,123,33,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(244,161,87,1)), color-stop(100%, rgba(232,123,33,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(244,161,87,1) 0%, rgba(232,123,33,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(244,161,87,1) 0%, rgba(232,123,33,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(244,161,87,1) 0%, rgba(232,123,33,1) 100%);
  background: radial-gradient(ellipse at center, rgba(244,161,87,1) 0%, rgba(232,123,33,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4a157', endColorstr='#e87b21', GradientType=1 );
}

.red .sticky-note-inner {
  background: rgba(225,93,91,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(225,93,91,1) 0%, rgba(225,93,91,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(225,93,91,1)), color-stop(100%, rgba(225,93,91,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(225,93,91,1) 0%, rgba(225,93,91,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(225,93,91,1) 0%, rgba(225,93,91,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(225,93,91,1) 0%, rgba(225,93,91,1) 100%);
  background: radial-gradient(ellipse at center, rgba(225,93,91,1) 0%, rgba(225,93,91,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e15d5b', endColorstr='#e15d5b', GradientType=1 );
}



/*---------fake random rotaion*/
div.sticky-note:nth-child(odd) {
  -webkit-transform: rotate(2.1deg);
  -moz-transform: rotate(2.1deg);
  -ms-transform: rotate(2.1deg);
  -o-transform: rotate(2.1deg);
  transform: rotate(2.1deg);
}
div.sticky-note:nth-child(even) {
  -webkit-transform: rotate(-2.1deg);
  -moz-transform: rotate(-2.1deg);
  -ms-transform: rotate(-2.1deg);
  -o-transform: rotate(-2.1deg);
  transform: rotate(-2.1deg);
}
div.sticky-note:nth-child(3n) {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
div.sticky-note:nth-child(5n) {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
div.sticky-note:nth-child(7n) {
  -webkit-transform: rotate(2.7deg);
  -moz-transform: rotate(2.7deg);
  -ms-transform: rotate(2.7deg);
  -o-transform: rotate(2.7deg);
  transform: rotate(2.7deg);
}
div.sticky-note:nth-child(11n) {
  -webkit-transform: rotate(2.1deg);
    -moz-transform: rotate(2.1deg);
  -ms-transform: rotate(2.1deg);
  -o-transform: rotate(2.1deg);
  transform: rotate(2.1deg);
}
div.sticky-note:nth-child(13n) {
  -webkit-transform: rotate(3.3deg);
  -moz-transform: rotate(3.3deg);
  -ms-transform: rotate(3.3deg);
  -o-transform: rotate(3.3deg);
  transform: rotate(3.3deg);
}
div.sticky-note:nth-child(17n) {
  -webkit-transform: rotate(1.7deg);
  -moz-transform: rotate(1.7deg);
  -ms-transform: rotate(1.7deg);
  -o-transform: rotate(1.7deg);
  transform: rotate(1.7deg);
}
div.sticky-note:nth-child(19n) {
  -webkit-transform: rotate(-1.9deg);
  -moz-transform: rotate(-1.9deg);
  -ms-transform: rotate(-1.9deg);
  -o-transform: rotate(-1.9deg);
  transform: rotate(-1.9deg);
}
div.sticky-note:nth-child(23n) {
  -webkit-transform: rotate(-2.3deg);
  -moz-transform: rotate(-2.3deg);
  -ms-transform: rotate(-2.3deg);
  -o-transform: rotate(-2.3deg);
  transform: rotate(-2.3deg);
}
div.sticky-note:nth-child(29n) {
  -webkit-transform: rotate(-2.9deg);
  -moz-transform: rotate(-2.9deg);
  -ms-transform: rotate(-2.9deg);
  -o-transform: rotate(-2.9deg);
  transform: rotate(-2.9deg);
}
div.sticky-note:nth-child(31n) {
  -webkit-transform: rotate(-3.1deg);
  -moz-transform: rotate(-3.1deg);
  -ms-transform: rotate(-3.1deg);
  -o-transform: rotate(-3.1deg);
  transform: rotate(-3.1deg);
}
div.sticky-note:nth-child(37n) {
  -webkit-transform: rotate(-3.7deg);
  -moz-transform: rotate(-3.7deg);
  -ms-transform: rotate(-3.7deg);
  -o-transform: rotate(-3.7deg);
  transform: rotate(-3.7deg);
}
div.sticky-note:nth-child(41n) {
  -webkit-transform: rotate(-4.1deg);
  -moz-transform: rotate(-4.1deg);
  -ms-transform: rotate(-4.1deg);
  -o-transform: rotate(-4.1deg);
  transform: rotate(-4.1deg);
}
div.sticky-note:nth-child(43n) {
  -webkit-transform: rotate(-4.3deg);
  -moz-transform: rotate(-4.3deg);
  -ms-transform: rotate(-4.3deg);
  -o-transform: rotate(-4.3deg);
  transform: rotate(-4.3deg);
}
div.sticky-note:nth-child(47n) {
  -webkit-transform: rotate(-4.7deg);
  -moz-transform: rotate(-4.7deg);
  -ms-transform: rotate(-4.7deg);
  -o-transform: rotate(-4.7deg);
  transform: rotate(-4.7deg);
}
div.sticky-note:nth-child(53n) {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
div.sticky-note:nth-child(59n) {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
}
div.sticky-note:nth-child(61n) {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
div.sticky-note:nth-child(67n) {
  -webkit-transform: rotate(-1.3deg);
  -moz-transform: rotate(-1.3deg);
  -ms-transform: rotate(-1.3deg);
  -o-transform: rotate(-1.3deg);
  transform: rotate(-1.3deg);
}
div.sticky-note:nth-child(71n) {
  -webkit-transform: rotate(2.7deg);
  -moz-transform: rotate(2.7deg);
  -ms-transform: rotate(2.7deg);
  -o-transform: rotate(2.7deg);
  transform: rotate(2.7deg);
}
div.sticky-note:nth-child(73n) {
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
}
div.sticky-note:nth-child(79n) {
  -webkit-transform: rotate(-1.6deg);
  -moz-transform: rotate(-1.6deg);
  -ms-transform: rotate(-1.6deg);
  -o-transform: rotate(-1.6deg);
  transform: rotate(-1.6deg);
}
div.sticky-note:nth-child(83n) {
  -webkit-transform: rotate(2.1deg);
  -moz-transform: rotate(2.1deg);
  -ms-transform: rotate(2.1deg);
  -o-transform: rotate(2.1deg);
  transform: rotate(2.1deg);
}
div.sticky-note:nth-child(89n) {
  -webkit-transform: rotate(3.7deg);
  -moz-transform: rotate(3.7deg);
  -ms-transform: rotate(3.7deg);
  -o-transform: rotate(3.7deg);
  transform: rotate(3.7deg);
}
div.sticky-note:nth-child(97n) {
  -webkit-transform: rotate(-2.6deg);
  -moz-transform: rotate(-2.6deg);
  -ms-transform: rotate(-2.6deg);
  -o-transform: rotate(-2.6deg);
  transform: rotate(-2.6deg);
}
div.sticky-note:nth-child(101n) {
  -webkit-transform: rotate(1.1deg);
  -moz-transform: rotate(1.1deg);
  -ms-transform: rotate(1.1deg);
  -o-transform: rotate(1.1deg);
  transform: rotate(1.1deg);
}
